/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */
#image-editor,
#comment-editor {
    trix-toolbar .trix-button-group--block-tools,
    trix-toolbar .trix-button-group--file-tools {
        display: none !important;
    }
}

trix-toolbar .trix-button {
    @apply dark:bg-white;
}

.bg-gradient-alt {
    background: linear-gradient(135deg, rgba(85,60,154,1) 0%, rgba(90,103,216,1) 90%);
}

.bg-gradient-alt:hover {
    background: linear-gradient(135deg, rgba(60,54,107,1) 0%, rgba(76,81,191,1) 90%);
}

.bg-gradient-brand {
    background-image: linear-gradient(135deg, #FC8181, #FC8181 30%, #F6AD55);
}

.bg-gradient-brand:hover {
    background-image: linear-gradient(135deg, #F56565, #F56565 30%, #ED8936);
}

.prose strong {
    @apply dark:text-gray-300;
}

.prose h1 {
    @apply dark:text-gray-300;
}

.prose em {
    @apply px-1 bg-indigo-200 rounded;
}

.prose strong {
    background-image: linear-gradient(to bottom, transparent 80%, #FC8181 80%);
}

.prose a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 90%, rgba(90,103,216,1) 90%);
}
